/*
===================
CSS Reset
===================
*/

html {
  box-sizing: border-box;
  max-height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
===================
Universal Selector
===================
*/

* {
  font-family: Arial, Helvetica, sans-serif;
  color: #222;
}

* a {
  text-decoration: none;
}

#page {
  font-size: 14px;
  background: #fff;
  min-width: 400px; 
}

/*
===================
Header/Navigation
===================
*/

.nav {
  padding: 6px;
  min-width: auto;
}

.links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}

.li1, .li2, .li3, .li4 {
  margin: 0 8px;
}

.prfl-img, .svg-sqre {
  height: 30px;
  max-width: 30px;
}

.prfl-img {
  border-radius: 50%;
}

/*
===================
Search Area
===================
*/

.srch-container {
  max-width: 750px;
  margin: 0 auto;
}

.empty {
  height: 201px;
}

.google-logo {
  width: 375px;
  margin: 30px auto;
}

.logo-img, .img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: initial;
  margin: 0 auto;
}

.search-bar {
  width: 562.5px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
}

#search {
  display: flex;
  flex: 1;
  margin: 0 auto;

  width: 50vw;
  max-width: 500px;
  height: 40px;

  border: 1px solid #e1e1e1;
  border-radius: 50px;
  padding: 0 40px;

  font-size: initial;
  margin: 20px;
}

.buttons {
  max-width: 375px;
  margin: 25px auto;
  display: flex;
}

.btn {
  padding: 10px;
  margin: 11px auto;
  border-radius: 5px;
  background: #eee;
}

.buttons button {
  cursor: pointer;
}

hr {
  
}


/*
===================
Footer
===================
*/

#footer {
  background-color: rgba(161, 161, 161, 0.178);
  color:rgba(34, 34, 34, 0.404);
  position: fixed;
  bottom: 0;
  min-width: 100%;
}

.p, .f-container {
  padding: 15px 30px;
}

.f-container {
  display: flex;
  color: rgba(34, 34, 34, 0.404);
}

.info, .settings {
  flex: 1;
  margin: 0 auto;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.privacy, .terms, .set, .about, .advert, .business, .hsw {
  margin: 0;
  padding-right: 15px;
}