/*
===================
CSS Reset
===================
*/

html {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-height: 100%;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*
===================
Universal Selector
===================
*/

#page {
  font-size: 14px;
  background: #fff;
  min-width: 400px; 
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

* a {
  text-decoration: none;
}

body a {
  color: #222;
}

/*
===================
Header/Navigation
===================
*/

.nav {
  padding: 5px;
  min-width: auto;
}

.links {
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: flex-end;
}

.txt {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.li1:hover,
.li2:hover {
  text-decoration: underline;
}

.l-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 3px;
}

.li1, .li2, .li3, .li4 {
  margin: 0 8px;
}

.li4 {
  margin-left: 4px;
}

.prfl-img, .svg-sqre {
  padding: 6px;
}

.svg-sqre {
  width: 37px;
  height: 37px;
}

.prfl-img {
  width: 43px;
  height: 43px;
}

.li4 img {
  border-radius: 50%;
}

.svg-sqre:hover,
.prfl-img:hover {
  background-color: rgba(60,64,67,0.05);
  border-radius: 50%;
}

/*
===================
Search Area
===================
*/

.srch-container {
  max-width: 750px;
  margin: 0 auto;
}

.google-logo {
  width: 375px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-img, .img-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: initial;
  margin: 0 auto;
}

.search-bar {
  width: auto;
  max-width: 584px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-img {
  position: relative;
  left: 60px;
  top: 1px;
  filter: contrast(0);
}

#search {
  display: flex;
  flex: 1;
  margin: 0 auto;

  width: 50vw;
  max-width: 100%;
  height: 44px;

  border: 1px solid #e1e1e1;
  border-radius: 50px;
  padding: 0 40px;

  font-size: initial;
  margin: 20px;
  outline: none;
}

#search:hover {
  background-color: rgba(223,225,229,0);
  box-shadow: 0 1px 6px rgba(32,33,36,.28);
  border: 1px solid #dadce0;
}

.buttons {
  max-width: 375px;
  margin: 5px auto;
  display: flex;
}

.btn {
  display: inline-block;
  padding: 10px;
  margin: auto 5px;
  border-radius: 4px;
  border: 1px solid #f8f9fa;
  background: #f8f9fa;
}

.btn:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, .5);
  border: 1px solid #dadce0;
}

.buttons .g-search {
  margin-left: auto;
}

.buttons .lucky {
  margin-right: auto;
}

.buttons button {
  cursor: pointer;
}

/*
===================
Footer
===================
*/

#footer {
  color: rgb(82, 82, 82);
  position: fixed;
  bottom: 0;
  min-width: 100%;
}

#footer a {
  color: rgb(83, 83, 83);
}

.p, .f-container {
  background-color: rgba(161, 161, 161, 0.178);
  padding: 15px 30px;
}

.p {
  border-bottom: 2px solid rgba(161, 161, 161, 0.178);
}

.f-container {
  display: flex;
}

.info, .settings {
  flex: 1;
  margin: 0 auto;
}

.settings {
  display: flex;
  justify-content: flex-end;
}

.privacy, 
.terms, 
.set, 
.about, 
.advert, 
.business, 
.hsw {
  margin: 0;
  padding-right: 15px;
}
 
.privacy:hover, 
.terms:hover, 
.set:hover, 
.about:hover, 
.advert:hover, 
.business:hover, 
.hsw:hover {
  text-decoration: underline;
}